<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pimMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.mddoai.metamodel.pim.pimMM.presentation.PimMMModelWizardID"
            name="%_UI_PimMMModelWizard_label"
            class="com.mddoai.metamodel.pim.pimMM.presentation.PimMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PimMMModelFile.gif">
         <description>%_UI_PimMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pimMM -->
      <editor
            id="com.mddoai.metamodel.pim.pimMM.presentation.PimMMEditorID"
            name="%_UI_PimMMEditor_label"
            icon="icons/full/obj16/PimMMModelFile.gif"
            extensions="pimmm"
            class="com.mddoai.metamodel.pim.pimMM.presentation.PimMMEditor"
            contributorClass="com.mddoai.metamodel.pim.pimMM.presentation.PimMMActionBarContributor">
      </editor>
   </extension>

</plugin>
