<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gitlabMM -->
      <package
            uri="http://www.mddoai.com/mddoai/metamodel/gitlab"
            class="com.mddoai.metamodel.gitlab.gitlabMM.GitlabMMPackage"
            genModel="model/gitlabMM.genmodel"/>
   </extension>

</plugin>
